* {
    font-family: 'Rubik', sans-serif;
}

.header {
    .logo {
        width: 60px;
    }

    .title {
        letter-spacing: 3px;
    }

    .nav li.active {
        background: #e5e5e5;

        a {
            color: rgb(11, 11, 11);
        }
    }

    .nav li a {
        letter-spacing: 0.5px;
        color: #00ebf3;
    }

    .download-whitepaper {
        min-width: fit-content;
        letter-spacing: 0.7px;
        color: #00ebf3;
        box-shadow: inset 3px 3px 5px #e5e5e5;
    }
}

.nucleostartup {
    .logo {
        height: auto;
    }
}

.key-features,
.what-is-money,
.team,
.timeline,
.cryptonit-achievements {
    .container {
        width: 90%;
        position: relative;

        .line {
            position: absolute;
            left: -4.200rem;
            top: 1.375rem;
            width: 4rem;
            height: 0.5rem;
            background: #cccccc;
            border-radius: 100px;
        }
    }
}

.what-is-money {
    .video {
        height: auto;
        background: rgba(#00c8ff, 0.2);

        .logo {
            width: 40%;
        }
    }
}

.team {
    .row {
        img {
            border-radius: 30px 30px 0 0;
        }
    }

    .more-team {
        color: #00c8ff;

        .icon {
            width: 14px;
        }
    }
}

.timeline {
    .container {
        >.row:nth-child(2) {
            >div:nth-child(1) {
                position: relative;

                .line {
                    all: unset;
                    position: absolute;
                    top: 50%;
                    left: 8.5px;
                    width: 2px;
                    height: calc(100% - 20px);
                    background: #e3e3e3;
                    transform: translateY(-50%);
                    z-index: -1;
                }

                .title .circle {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: #cccccc;
                    border: 2px solid #ffffff;
                    border-radius: 100px;
                }

                .upcomming {
                    position: relative;

                    span {
                        font-size: 0.8rem;
                    }

                    .line {
                        all: unset;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        display: inline-block;
                        height: 0.5px;
                        background: #e3e3e3;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
            }

            >div:nth-child(2) {
                height: auto;

                .chart {
                    position: relative;

                    .chart {
                        width: 400px;
                        height: 400px;
                        background-image: conic-gradient(#fe5d5b 0 60%, #ffd166 60% 70%, #86f1f9 70% 80%, #25547c 80% 100%);
                        border-radius: 50%;
                    }

                    .circle {
                        width: 330px;
                        height: 330px;
                        position: absolute;
                        top: 50%;
                        background: #ffffff;
                        border-radius: 1000px;
                        transform: translateY(-50%);

                        .logo {
                            position: absolute;
                            width: 85%;
                            height: 85%;
                            top: 50%;
                            transform: translateY(-50%);
                            opacity: 0.5;
                            z-index: -1;
                        }
                    }

                    @media (max-width: 1200px) {
                        .chart {
                            width: 320px;
                            height: 320px;
                        }

                        .circle {
                            width: 280px;
                            height: 280px;
                        }
                    }

                    @media (max-width: 500px) {
                        .chart {
                            width: 260px;
                            height: 260px;
                        }

                        .circle {
                            width: 220px;
                            height: 220px;
                        }
                    }

                    @media (max-width: 350px) {
                        .chart {
                            width: 230px;
                            height: 230px;
                        }

                        .circle {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }

                .data {
                    max-width: 400px;
                    color: #535353;
                    font-size: 0.8rem;

                    >div {
                        .color {
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            border-radius: 100px;
                        }

                        &:nth-child(1) {
                            .color {
                                background: #fe5d5b;
                            }
                        }

                        &:nth-child(2) {
                            .color {
                                background: #ffd166;
                            }
                        }

                        &:nth-child(3) {
                            .color {
                                background: #86f1f9;
                            }
                        }

                        &:nth-child(4) {
                            .color {
                                background: #25547c;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cryptonit-achievements {
    .row:nth-child(2) {
        .active .box {
            background: #00c8ff !important;
            color: #ffffff !important;

            .line {
                background: #ffffff;
            }
        }

        .line {
            all: unset;
            display: inline-block;
            width: 3.75rem;
            height: 0.375rem;
            background: #cccccc;
            border-radius: 100px;
        }
    }
}

.latest-news {
    button {
        background: #00c8ff;
        letter-spacing: 1px;
        border: none;
        outline: none;
    }

    .logos1 {
        img {
            height: fit-content;
            @supports (height: min-intrinsic){
                height: min-intrinsic;
            }

            &:nth-child(1) {
                width: 80px;
            }

            &:nth-child(2) {
                width: 120px;
            }

            &:nth-child(3) {
                width: 40px;
            }
        }
    }

    .logos2 {
        img {
            height: auto;

            &:nth-child(1) {
                width: 120px;
            }

            &:nth-child(2) {
                width: 180px;
            }

            &:nth-child(3) {
                width: 70px;
            }
        }
    }
}

.footer {
    background: linear-gradient(#ffffff, #e5e5e5);

    .twitter {
        .box {
            background: #1da1f2;
        }
    }

    .useful-links {
        a {
            color: rgb(0, 200, 255);

            .icon {
                width: 13px;
            }
        }
    }

    .line {
        all: unset;
        display: inline-block;
        width: 3.75rem;
        height: 0.375rem;
        background: #d2d2d2;
        border-radius: 100px;

        @media (max-width: 500px) {
            height: 4px;
        }
    }

    .future-partnership {
        img {
            height: auto;
        }
    }

    .cryptonit {
        @media (max-width: 500px) {
            font-size: 12px !important;
        }
    }
}

@media (max-width: 600px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 11px;
    }
}